<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Checkout</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Here are the CSS files for this page. -->
    <link rel="stylesheet" href="/css/shared/general.css">
    <link rel="stylesheet" href="/css/pages/checkout/checkout-header.css">
    <link rel="stylesheet" href="/css/pages/checkout/checkout.css">
</head>

<body>
    <div class="checkout-header">
        <div class="header-content">
            <div class="checkout-header-left-section">
                <a href="hellomarket.html" title="logo">
                    <img class="amazon-logo" src="/images/Helloo Market logo in Green Logo 1 png.png" alt="">
                    <img class="amazon-mobile-logo" src="/images/amazon-mobile-logo.png" alt="">
                </a>
            </div>

            <div class="checkout-header-middle-section js-cart-display">
                Checkout (
                <a class="return-to-home-link js-cart-display" href="hellomarket.html" title="cheakout"></a>)
            </div>

            <div class="checkout-header-right-section">
                <img src="/images/icons/checkout-lock-icon.png" alt="">
            </div>
        </div>
    </div>

    <div class="main">
        <div class="page-title">Review your order</div>
        <button class="place-order-button button-primary js-remove-button" onclick="localStorage.removeItem('cart');
        saveToStorage();
        ">
            Remove your All order
          </button>
        <div class="checkout-grid">
            <div class="order-summary js-order-summary">
                <div class="delivery-options">
                    <div class="delivery-options-title">
                        Choose a delivery option:
                    </div>
                </div>
            </div>

            <div class="payment-summary">
                <div class="payment-summary-title">
                    Order Summary
                </div>

                <div class="payment-summary-row">
                    <div class="js-items-quantity">Items (3):</div>
                    <div class="payment-summary-money js-payment-summary-total"></div>
                </div>

                <div class="payment-summary-row">
                    <div>Shipping &amp; handling:</div>
                    <div class="payment-summary-money js-payment-summary-shipping"></div>
                </div>

                <div class="payment-summary-row subtotal-row">
                    <div>Total before tax:</div>
                    <div class="payment-summary-money-bt js-tax-befor"></div>
                </div>

                <div class="payment-summary-row js-payment-summary-row">
                    <div>Estimated tax (10%):</div>
                    <div class="payment-summary-money js-payment-tax"></div>
                </div>


                <div class="payment-summary-row total-row">
                    <div>Order total:</div>
                    <div class="payment-summary-money js-order-total"></div>
                </div>


                <button class="place-order-button button-primary js-place-order">
            Place your order
                </button>
            </div>
        </div>
    </div>
    <script type="module" src="/js/cheakout.js"></script>
</body>

</html>