<!DOCTYPE html>
<html>

<head>
    <title>Online HelloMarket Project</title>

    <!-- This code is needed for responsive design to work.
      (Responsive design = make the website look good on
      smaller screen sizes like a phone or a tablet). -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Load a font called Roboto from Google Fonts. -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Here are the CSS files for this page. -->
    <link rel="stylesheet" href="/css/shared/general.css">
    <link rel="stylesheet" href="/css/shared/hellomarket-header.css">
    <link rel="stylesheet" href="/css/pages/hellomarket.css">
</head>

<body>
    <div class="amazon-header">
        <div class="amazon-header-left-section">
            <a href="amazon.html" class="header-link">
                <img class="amazon-logo" src="/images/Helloo Market logo in Green.png">
                <img class="amazon-mobile-logo" src="/images/Helloo Market logo in Green.png">
            </a>
        </div>

        <div class="amazon-header-middle-section">
            <input class="search-bar" type="text" placeholder="Search">

            <button class="search-button">
          <img class="search-icon" src="/images/icons/search-icon.png">
        </button>
        </div>

        <div class="amazon-header-right-section">
            <a class="orders-link header-link" href="orders.html">
            </a>

            <a class="cart-link header-link" href="http://localhost:6500/chere-market/cheakout">
                <img class="cart-icon" src="/images/images.png">
                <div class="cart-quantity"></div>
                <div class="cart-text">Cart</div>
            </a>
        </div>
    </div>

    <div class="main">
        <div class="products-grid js-product-grid">
            <h1>Products</h1>
            <% products.forEach(product => { %>
                <div class="product-container">
                    <div class="product-image-container">
                        <img class="product-rating-stars" src="/images/products/<%=product.image%>.jpg" alt="">
                    </div>

                    <div class="product-name limit-text-to-2-lines">
                        <%= product.name %>
                    </div>

                    <div class="product-rating-container">
                        <img class="product-rating-stars" src="/images/ratings/rating-${4.5*10}.png">
                        <div class="product-rating-count link-primary">
                        </div>
                    </div>

                    <div class="product-price">
                    </div>

                    <div class="product-quantity-container">
                        <select>
                    <option selected value=${1}>1</option>
                    <option value=${2}>2</option>
                    <option value=${3}>3</option>
                    <option value=${4}>4</option>
                    <option value=${5}>5</option>
                    <option value=${6}>6</option>
                    <option value=${7}>7</option>
                    <option value=${8}>8</option>
                    <option value=${9}>9</option>
                    <option value=${10}>10</option>
                    </select>
                    </div>

                    <div class="product-spacer"></div>

                    <div class="added-to-cart">
                        <img src="images/icons/checkmark.png"> Added
                    </div>

                    <button class="add-to-cart-button button-primary js-add-to-cart" data-product-id="${product.id}">
                    Add to Cart
                    </button>
                </div>
                <% }); %>
        </div>

    </div>
    <script type="module" src="/js/hellomarket.js"></script>
</body>

</html>