<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>payment</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        
        #paymentform {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        
        h2 {
            text-align: center;
            color: #333;
        }
        
        label {
            display: block;
            margin: 15px 0 5px;
            color: #555;
        }
        
        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
        }
        
        .button {
            background-color: #4caf50;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 18px;
        }
        
        .button:hover {
            background-color: #45a049;
        }
    </style>
</head>

<body>

    <form id="paymentform">
        <h2>Payment</h2>
        <label for="from">Mobile:</label>
        <input type="tel" class="from" id="from" name="from" required>

        <input type="submit" value="Pay" class="button">
    </form>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const paymentForm = document.getElementById('paymentform');
            paymentForm.addEventListener('submit', async(event) => {
                event.preventDefault();
                const time = Date.now();
                const traceNumber = time.toString()
                localStorage.setItem('traceNumber', traceNumber)
                const from = document.querySelector('.from').value;
                console.log(from);
                const amount = JSON.parse(localStorage.getItem('total'))
                try {
                    const response = await fetch('http://localhost:6500/chere-market/hellocash', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            from: from,
                            amount: amount
                        })
                    });
                    const data = response.json();
                    console.log(data);
                    window.location.href = 'http://localhost:6500/chere-market/track';
                } catch (error) {
                    console.error("Error: " + error);
                }
            });
        });
    </script>
</body>

</html>